In [24]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

In [25]:
df=pd.read_csv("./Datasets/loan.csv")

In [26]:
df.head(10)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
6,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y
7,LP001014,Male,Yes,3+,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban,N
8,LP001018,Male,Yes,2,Graduate,No,4006,1526.0,168.0,360.0,1.0,Urban,Y
9,LP001020,Male,Yes,1,Graduate,No,12841,10968.0,349.0,360.0,1.0,Semiurban,N

In [27]:
print(df.isnull().sum())

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [28]:
df_encoded=df.copy()

In [29]:
print(df_encoded['Gender'].value_counts())

Gender
Male      489
Female    112
Name: count, dtype: int64

In [30]:
df_encoded['Gender'].fillna('Male',inplace=True)

In [31]:
print(df_encoded['Married'].value_counts())

Married
Yes    398
No     213
Name: count, dtype: int64

In [32]:
df_encoded['Married'].fillna('Yes',inplace=True)

In [33]:
print(df_encoded['Dependents'].value_counts())

Dependents
0     345
1     102
2     101
3+     51
Name: count, dtype: int64

In [34]:
df_encoded['Dependents'].fillna(0,inplace=True)

In [35]:
print(df_encoded['Self_Employed'].value_counts())

Self_Employed
No     500
Yes     82
Name: count, dtype: int64

In [36]:
df_encoded['Self_Employed'].fillna('No',inplace=True)

In [37]:
df_encoded['LoanAmount'].fillna(df_encoded['LoanAmount'].mean(),inplace=True)
df_encoded['Loan_Amount_Term'].fillna(df_encoded['Loan_Amount_Term'].mean(),
                                      inplace=True)

In [38]:
print(df_encoded['Credit_History'].value_counts())

Credit_History
1.0    475
0.0     89
Name: count, dtype: int64

In [39]:
df_encoded['Credit_History'].fillna(1.0,inplace=True)

In [40]:
print(df_encoded.isnull().sum())

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [41]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

In [48]:
df_encoded.Dependents.unique()

array(['0', '1', '2', '3+', 0], dtype=object)

In [47]:
df_encoded.dtypes

Loan_ID                int64
Gender                 int64
Married                int64
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

In [46]:
print(df_encoded.columns)

for col in df_encoded.columns:
    print(col)
    df_encoded[col] = le.fit_transform(df_encoded[col])


# df_encoded['Loan_ID']=le.fit_transform(df_encoded['Loan_ID'].values)
# df_encoded['Gender']=le.fit_transform(df_encoded['Gender'].values)
# df_encoded['Married']=le.fit_transform(df_encoded['Married'].values)
# df_encoded['Dependents']=le.fit_transform(df_encoded['Dependents'].values)
# df_encoded['Education']=le.fit_transform(df_encoded['Education'].values)
# df_encoded['Self_Employed']=le.fit_transform(df_encoded['Self_Employed'].
#                                              values)
# df_encoded['Credit_History']=le.fit_transform(df_encoded['Credit_History'].values)
# df_encoded['Property_Area']=le.fit_transform(df_encoded['Property_Area'].values)
# df_encoded['Loan_Status']=le.fit_transform(df_encoded['Loan_Status'].values)
# df_encoded['ApplicantIncome']=le.fit_transform(df_encoded['ApplicantIncome'].
#                                                values)
# df_encoded['CoapplicantIncome']=le.fit_transform(df_encoded['CoapplicantIncome'].values)
# df_encoded['LoanAmount']=le.fit_transform(df_encoded['LoanAmount'].values)
# df_encoded['Loan_Amount_Term']=le.fit_transform(df_encoded['Loan_Amount_Term'].
#                                                 values)

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')
Loan_ID
Gender
Married
Dependents

TypeError: Encoders require their input argument must be uniformly strings or numbers. Got ['int', 'str']

In [ ]:
print(df_encoded.head())

In [ ]:
print(df_encoded.columns)

In [ ]:
feature_cols=['Gender', 'Married', 'Dependents','Education', 
              'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 
              'LoanAmount', 'Loan_Amount_Term', 'Credit_History', 'Property_Area',]

In [ ]:
from sklearn.model_selection import train_test_split
#x = df_encoded.iloc[:,0:12]
x=df_encoded[feature_cols]
y = df_encoded['Loan_Status']
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.3,
                                               random_state=1)

In [ ]:
from sklearn.metrics import confusion_matrix, accuracy_score, 
classification_report
treeModel = DecisionTreeClassifier(random_state=0, max_depth=3, 
                                   criterion='gini')
treeModel.fit(X_train,y_train)

In [ ]:
PredictedOutput = treeModel.predict(X_test)

In [ ]:
PredictedOutput

In [ ]:
from sklearn import tree
tree.plot_tree(treeModel);

In [ ]:
cm=confusion_matrix(y_test, PredictedOutput)
print(cm)
print(classification_report(y_test, PredictedOutput))

In [ ]:
accuracy=accuracy_score(y_test, PredictedOutput)
accuracy