In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression 
from mlxtend.evaluate import bias_variance_decomp

In [2]:
df = pd.read_csv('./Datasets/housing.csv')

In [3]:
df.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.45857,5.682861,7.009188,4.09,23086.80050,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.64245,6.002900,6.730821,3.09,40173.07217,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.06718,5.865890,8.512727,5.13,36882.15940,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.24005,7.188236,5.586729,3.26,34310.24283,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.19723,5.040555,7.839388,4.23,26354.10947,6.309435e+05,USNS Raymond\nFPO AE 09386

In [4]:
data = df.values

In [5]:
x,y = data[:,:-2], data[:,-2]
x

array([[79545.45857, 5.682861322, 7.009188143, 4.09, 23086.8005],
       [79248.64245, 6.002899808, 6.730821019, 3.09, 40173.07217],
       [61287.06718, 5.86588984, 8.51272743, 5.13, 36882.1594],
       ...,
       [63390.68689, 7.250590615, 4.80508098, 2.13, 33266.14549],
       [68001.33124, 5.534388416, 7.130143864, 5.44, 42625.62016],
       [65510.5818, 5.992305307, 6.792336104, 4.07, 46501.2838]],
      dtype=object)

In [6]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.33)

In [7]:
model = LinearRegression()

In [8]:
mse, bias, var = bias_variance_decomp(model,x_train,y_train,x_test,y_test, loss = 'mse', num_rounds=200, random_seed=1)

In [9]:
print(mse)

10360596046.515953

In [10]:
print(bias)

10342016295.673275

In [11]:
print(var)

18579750.842668284