In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression 
from mlxtend.evaluate import bias_variance_decomp

In [29]:
df = pd.read_csv('./Datasets/HousePriceData.csv')
df = pd.get_dummies(df, columns=['furnishingstatus'])

In [30]:
df.head()

,FloorArea,BedRooms,Price,furnishingstatus_furnished,furnishingstatus_semi-furnished,furnishingstatus_unfurnished
0,2104,3,399900,True,False,False
1,1600,3,329900,True,False,False
2,2400,3,369000,False,True,False
3,1416,2,232000,True,False,False
4,3000,4,539900,True,False,False

In [31]:
data = df.values

In [59]:
x,y = data[:,:-1], data[:,-1]
x

array([[2104, 3, 399900, True, False],
       [1600, 3, 329900, True, False],
       [2400, 3, 369000, False, True],
       [1416, 2, 232000, True, False],
       [3000, 4, 539900, True, False],
       [1985, 4, 299900, False, True],
       [1534, 3, 314900, False, True],
       [1427, 3, 198999, False, False],
       [1380, 3, 212000, True, False],
       [1494, 3, 242500, False, False],
       [1940, 4, 239999, True, False],
       [2000, 3, 347000, False, True],
       [1890, 3, 329999, False, True],
       [4478, 5, 699900, True, False],
       [1268, 3, 259900, False, True],
       [2300, 4, 449900, False, True],
       [1320, 2, 299900, False, False],
       [1236, 3, 199900, True, False],
       [2609, 4, 499998, True, False],
       [3031, 4, 599000, False, True],
       [1767, 3, 252900, False, True],
       [1888, 2, 255000, False, False],
       [1604, 3, 242900, True, False],
       [1962, 4, 259900, True, False],
       [3890, 3, 573900, True, False],
       [1100, 3, 249900, True, False],
       [1458, 3, 464500, False, True],
       [2526, 3, 469000, False, True],
       [2200, 3, 475000, False, False],
       [2637, 3, 299900, False, True],
       [1839, 2, 349900, False, False],
       [1000, 1, 169900, False, True],
       [2040, 4, 314900, True, False],
       [3137, 3, 579900, False, False],
       [1811, 4, 285900, True, False],
       [1437, 3, 249900, True, False],
       [1239, 3, 229900, True, False],
       [2132, 4, 345000, True, False],
       [4215, 4, 549000, False, False],
       [2162, 4, 287000, False, True],
       [1664, 2, 368500, True, False],
       [2238, 3, 329900, True, False],
       [2567, 4, 314000, False, False],
       [1200, 3, 299000, False, True],
       [852, 2, 179900, True, False],
       [1852, 4, 299900, False, True],
       [1203, 3, 239500, True, False]], dtype=object)

In [60]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.33)

In [61]:
model = LinearRegression()

In [62]:
mse, bias, var = bias_variance_decomp(model,x_train,y_train,x_test,y_test, loss = 'mse', num_rounds=200, random_seed=1)

In [63]:
print(mse)

0.00125

In [64]:
print(bias)

6.250000000795347e-06

In [65]:
print(var)

0.0012437499999992047